In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('fire_nrt_J1V-C2_156608.csv', sep=',')
b =  pd.read_csv('fire_nrt_M6_156607.csv', sep=',')
c =  pd.read_csv('fire_nrt_V1_156609.csv', sep=',')

In [3]:
a.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,-37.80521,-58.14965,329.2,0.36,0.57,2020-09-01,400,1,VIIRS,n,2.0NRT,273.9,2.5,N
1,-37.80102,-58.14393,300.6,0.36,0.57,2020-09-01,400,1,VIIRS,n,2.0NRT,272.3,1.6,N
2,-37.80006,-58.14755,329.2,0.36,0.57,2020-09-01,400,1,VIIRS,n,2.0NRT,274.3,1.6,N
3,-25.52316,-57.57450,308.2,0.68,0.74,2020-09-01,400,1,VIIRS,n,2.0NRT,284.0,2.6,N
4,-24.87528,-58.56064,309.8,0.34,0.56,2020-09-01,536,1,VIIRS,n,2.0NRT,284.3,1.0,N

In [4]:
b.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,-24.403,-59.357,312.7,1.0,1.0,2020-09-01,240,Terra,MODIS,85,6.0NRT,286.3,14.0,N
1,-24.404,-59.367,312.9,1.0,1.0,2020-09-01,240,Terra,MODIS,86,6.0NRT,285.5,14.1,N
2,-24.873,-58.562,307.0,1.0,1.0,2020-09-01,240,Terra,MODIS,70,6.0NRT,283.6,10.6,N
3,-25.389,-57.783,300.2,1.1,1.0,2020-09-01,240,Terra,MODIS,22,6.0NRT,282.5,6.9,N
4,-26.996,-59.040,306.7,1.0,1.0,2020-09-01,240,Terra,MODIS,69,6.0NRT,274.9,10.3,N

In [5]:
c.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,-33.21070,-68.85030,295.2,0.37,0.58,2020-09-01,448,N,VIIRS,n,2.0NRT,275.1,1.3,N
1,-27.26644,-58.65448,295.2,0.43,0.38,2020-09-01,448,N,VIIRS,n,2.0NRT,274.5,1.4,N
2,-27.26567,-58.65879,319.4,0.43,0.38,2020-09-01,448,N,VIIRS,n,2.0NRT,275.4,1.4,N
3,-27.26218,-58.65801,329.9,0.43,0.38,2020-09-01,448,N,VIIRS,n,2.0NRT,279.2,5.9,N
4,-27.26348,-58.65647,335.0,0.43,0.38,2020-09-01,448,N,VIIRS,n,2.0NRT,279.2,6.3,N

In [13]:
a.acq_time.value_counts()

1654    5178
1712    4274
1836    4213
1730    3612
1812    3098
        ...
348        8
1936       6
342        6
636        3
654        1
Name: acq_time, Length: 64, dtype: int64